*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(120deg, #86f9f9, #86a4fd);
	color: white;
	font: "Poppins", sans-serif;
	min-height: 100vh;
}

header{
	font-size: 1.5rem;
}

header h1, header img{
	margin: 0.3rem;
}

header, 
form{
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input, form button{
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	background: white;
}

form button{
	color: #4d79ff;
	background: white;
	cursor: pointer;
	transition: all 0.3s ease;
}

form button:hover{
	background: #4d79ff;
	color: white;
}

.todo-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list{
	min-width: 30%;
	list-style: none;
}

.todo{
	margin: 0.5rem;
	background: white;
	color: black;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li{
	flex: 1;
}

.trash-btn, 
.complete-btn{
	background: #1a53ff;
	color: white;
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 1rem;
}
.complete-btn{
	background: #00ffcc;
}

.todo-item{
	padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
	pointer-events: none;
}

.completed{
	text-decoration: line-through;
	opacity: 0.5;
}
.fall{
	transform: translateY(8rem) rotateZ(20deg);
	opacity: 0;
}



select{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: none !important;
	background-image: none;
}

.select{
	margin: 1rem;
	position: relative;
	overflow: hidden;
}
select{
	color: #1a53ff;
	font-family: "Poppins", sans-serif;
	width: 12rem;
	cursor: pointer;
}
.select::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.2rem;
	background: #1a53ff;
	cursor: pointer;
	pointer-events: none;
	transition: all 0.3s ease;
}

.select:hover::after{
	background: white;
	color: #1a53ff;
}

@media only screen and (max-width: 485px) {
  form input{
  	width: 40vh;
  }

  select{
  	width: 3.4rem;
  }
}

@media only screen and (max-width: 430px) {
  form input{
  	width: 25vh;
  }

  select{
  	width: 3.4rem;
  }
}



.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #4da6ff;
	height: 6.55vh;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .9375rem;
	font-weight: 400;
	line-height: 1.25rem;
	padding: 1.25rem;
}

.footer a:link, a:visited {
	color: #1a53ff;
	font-weight: bold;
	margin: 0.25rem;
}



/*#86b0fc -- footer bg color*/